@import '../libs/normalize/normalize.css'
@import '../libs/magnific/magnific-popup.css'
@import '../libs/bxslider/jquery.bxslider.css'
@import '../libs/animate/animate.css'
@import '../libs/slick/slick.css'
@import '../libs/slick/slick-theme.css'



.review_slider
	.slick-dots
		bottom -40px

		li
			button
				&:before
					font-size 30px

				&:hover
					&:before
						color #717aff	
						
			&.slick-active
				button

					&:before
						font-size 35px
						color #717aff		