@media screen and (max-width 1250px)
	.our_packets
		overflow hidden
		.container
			width 100%
			margin 0
			
	.our_packets		
		.our_packets_item			
			height 650px
			margin 0 40px 10px 40px
		.g_list
			li 
				margin-bottom 5px
				line-height 25px
				
				
@media screen and (max-width 1150px)
	.review_slider_next,
	.review_slider_prev
		display none




@media screen and (max-width 1100px)
	.main_nav_list li
		margin-right 30px

	h1
		font-size 40px
		line-height 50px


@media screen and (max-width 950px)
	.top-banner
		padding-bottom 0!important
    
	.main_nav_list li
		margin-right 20px

	h1
		font-size 35px
		line-height 40px
		
	.about-us_text
		.first,
		.second,
		.third
			font-size 21px
			margin-bottom 20px!important
			line-height 30px 
	.our_packets		
		.our_packets_item
			height auto
			margin 0 0 10px 0
	.our_packets		
		.our_packets_slider
			position relative
			.slick-arrow
				top 70px
			
			.our_packets_item_bottom
				position static
   
	
	
	.region
		.container
			min-height auto
			.open_form_wrap
				position static
				
	.region
		.container
			height auto
			.region_man_pic
				display none
				
	
			
		.form_title
			font-size 18px
			
	.g-input
		font-size 16px
		
		

						
	
		

@media screen and (max-width 900px)	
	.about-us
		padding 50px 0 100px!important
	
	
	.about-us_text
		order 1
		width 100%!important
		margin-bottom 70px
		
	.about-us_text
		.first,
		.second,
		.third
			font-size 18px
				
		
		
	.about-us_img
		order 2
		width 100%!important
	
	.wrapper
		position relative
		width 100%
		max-width 900px
		overflow hidden

	.nav_mobile
		display block

	.main_nav_list
		li
			font-size 15px
			
	.about_us_text
		color #111


	.main_nav_list
		position absolute
		right -900px		
		top 95px
		width 100%
		max-width 320px
		padding 45px 0 45px 30px
		z-index 1
		background-color violetBgColor
		transition all linear .8s

		li
			display block
			margin-bottom 40px

			&:last-child
				margin-bottom 0

	h1
		margin-bottom 80px
		
	.section_title
		font-size 28px
	.doing			
		.doing_descr
			font-size 22px
			
	.why_content		
		padding 40px
		
@media screen and (max-width 750px)
	.invite_form
		flex-wrap wrap		
		input
			width 100%!important
		

@media screen and (max-width 500px)
	h1
		font-size 24px
		line-height 40px

	.open_form_wrap
		padding 20px
		height 250px	

	.open_form_sucess
		display none
		justify-content center
		align-items center
		height 100%
		&:before
			display none
	.doing		
		.doing_descr
			font-size 16px
			line-height 30px
	.doing		
		.doing_icons_item
			padding-top 100px
			
			&:after
				right 40px
				
	.our_packets
		.our_packets_item_bottom
			margin-top 20px
			
	.about-us_text
		.first,
		.second,
		.third
			font-size 16px
			
	.section_title
		font-size 25px
		
	.doing			
		.doing_descr
			font-size 20px
			
	.why_content		
		padding 20px
		.g_list
			li
				font-size 14px
				
	.review
		.container
			width 100%
			margin 0
	.review		
		.review_item_content
			iframe
				min-height 190px
				
	footer
		.container
			flex-wrap wrap
			
	.footer_politic	
		flex-basis auto
		width 100%
		margin-bottom 15px
		text-align center
		font-size 14px
	.footer_phone
		flex-basis auto
		width 100%		
		text-align center
		font-size 16px!important
		
	
		
	.open-form
		padding 20px!important
		
		.section_title
			margin-bottom 30px!important
			


@media screen and (max-width 350px)
	h1
		font-size 22px
	.our_packets	
		.our_packets_item_number
			font-size 28px
			
	.doing			
		.doing_descr
			font-size 18px		
