$s-doing_arrow = 311px 225px -311px -225px 50px 10px 372px 283px 'sprite.png';
$s-doing_call_i = 135px 0px -135px 0px 80px 80px 372px 283px 'sprite.png';
$s-doing_cash_i = 230px 0px -230px 0px 66px 80px 372px 283px 'sprite.png';
$s-doing_send_i = 0px 230px 0px -230px 80px 53px 372px 283px 'sprite.png';
$s-doing_seo_i = 0px 135px 0px -135px 80px 80px 372px 283px 'sprite.png';
$s-doing_shop_i = 95px 135px -95px -135px 80px 72px 372px 283px 'sprite.png';
$s-our_packets_next_arrow = 311px 75px -311px -75px 30px 60px 372px 283px 'sprite.png';
$s-our_packets_prev_arrow = 311px 150px -311px -150px 30px 60px 372px 283px 'sprite.png';
$s-review_arrow_next = 230px 95px -230px -95px 61px 60px 372px 283px 'sprite.png';
$s-review_arrow_prev = 311px 0px -311px 0px 61px 60px 372px 283px 'sprite.png';
$s-succes_form = 0px 0px 0px 0px 120px 120px 372px 283px 'sprite.png';
