//ШРИФТЫ

mainFont = "MuseoSansRegular", Arial, sans-serif
mediumFont = "MuseoSansMedium", Arial, sans-serif
boldFont = "MuseoSansBold", Arial, sans-serif
boldestFont =  "MuseoSansBlack", Arial, sans-serif
lightFont = "MuseoSansLight", Arial, sans-serif

//ЦВЕТА ТЕКСТА

grayTextColor = #999
lightGrayTextColor = #333



//ЦВЕТА

grayColor = #f6fafb
blueColor = #4a90e2
darkGrayColor = #bfbfbf
grayBorderColor = #eaedee
sliderControlsColor = #717aff
violetBgColor = #463d73
borderRegionInput = #e1e1e1
inviteBg = #717aff
darkColor = #333

