section.account_serv
	.container
		.row
			.section_head.col-md-10.col-md-offset-1
				h2 Бухгалтерские услуги
				p 
					strong Бухгалтерский учёт 
					| - это строго структурированная система сбора, регистрации и систематизации информации в денежном выражении о состоянии имущества, обязательств организации и их изменениях путём сплошного, непрерывного и документального учёта всех хозяйственных и экономических операций.
	.section_content
		.container
			.row
				.col-sm-4.info_item_wrap
					.info_item
						h4
							a(href="#") Документальное оформление
						p Документальное оформление всех хозяйственных операций предприятия
						
				.col-sm-4.info_item_wrap
					.info_item
						h4
							a(href="#") Обработка данных
						p Обработка, систематизация и введение данных в бухгалтерскую программу
						
				.col-sm-4.info_item_wrap
					.info_item
						h4
							a(href="#") Расчеты
						p Расчет заработной платы и налогов
						
						
				.col-sm-4.info_item_wrap
					.info_item
						h4
							a(href="#") Формирование отчетности
						p Формирование финансового результата предприятия
						
						
				.col-sm-4
					.account_serv_img_wrap
						img(src="static/img/icons/section_3/folder.svg")
						
						
				.col-sm-4.info_item_wrap
					.info_item
						h4
							a(href="#") Налоговая отчетность
						p Оформление и подача бухгалтерской и налоговой отчетности в соответствующие органы
						
						
				.col-sm-4.info_item_wrap
					.info_item
						h4
							a(href="#") Консультирование организаций
						p Консультирование по вопроса оптимизации финансовой функции и бухгалтерскому учету
						
				.col-sm-4.info_item_wrap
					.info_item
						h4
							a(href="#") Помощь в подборе персонала
						p Помощь в подборе персонала в отдел бухгалтерского и налогового учета
						
				.col-sm-4.info_item_wrap
					.info_item
						h4
							a(href="#") Восстановление бухгалтерского учета
						p Восстановление функционирования предприятия и бухгалтерского учета				
				
section.section_bottom.section_bottom--blue
	.button_wrap
		a(href="#callback").buttons Заказать бухгалтерские услуги					
						
				
						
			
		
			
			