section.homesect.contact
	.container
		.row
			.section_head.col-md-10.col-md-offset-1
				h2 С кем можно связаться через сайт
				p Свяжитесь с одним из сотрудников и получите консультацию по работе с нашей компанией
				
		.container
			.row
				.teams
					.team.team-off
						.team_icon
							img(src="static/img/content/team/1.jpg" alt="Director")
						h4 Евгений Александрович
						p Директор компании
						span +7 929 568 98 98
						  
					.team.team-off
						.team_icon
							img(src="static/img/content/team/2.jpg" alt="Sales Manager")
						h4 Виталий Дое
						p Менеджер продаж
						span +7 929 568 98 98
						
					.team.team-off
						.team_icon
							img(src="static/img/content/team/3.jpg" alt="Senior Manager")
						h4 Екатерина
						p Старший менеджер
						span +7 929 568 98 98
			