section.deal.homesect
	.container
		.row
			.section_head.col-md-10.col-md-offset-1
				h2 Сделки M&amp;A
				p 
					strong Сделки cлияния и поглощения  
					| – это процессы укрупнения бизнеса и капитала. Популярность сделки слияния и поглощения приобрели в конце 80-х годов и сейчас они являются одним из основных движущих факторов развития бизнеса на макро и микроуровне. Эффективность сделок слияния и поглощения огромна и не вызывает сомнений.
				h3 Наши услуги по 
					a(href="#") сопровождению сделок M&amp;A
	.deal_items
		.container
			.deal_item_container
				.deal_item_wrap
					a(href="#").deal_item
						.img_wrap
							img(src="static/img/icons/section_2/1.svg")
						span Разработка новой структуры управления бизнесом
						
				.deal_item_wrap
					a(href="#").deal_item
						.img_wrap
							img(src="static/img/icons/section_2/2.svg")
						span Разработка новой структуры управления бизнесом	
						
				.deal_item_wrap
					a(href="#").deal_item
						.img_wrap
							img(src="static/img/icons/section_2/3.svg")
						span Разработка новой структуры управления бизнесом	
						
				.deal_item_wrap
					a(href="#").deal_item
						.img_wrap
							img(src="static/img/icons/section_2/4.svg")
						span Разработка новой структуры управления бизнесом	
						
				.deal_item_wrap
					a(href="#").deal_item
						.img_wrap
							img(src="static/img/icons/section_2/5.svg")
						span Разработка новой структуры управления бизнесом	
						
				.deal_item_wrap
					a(href="#").deal_item
						.img_wrap
							img(src="static/img/icons/section_2/6.svg")
						span Разработка новой структуры управления бизнесом	
						
				.deal_item_wrap
					a(href="#").deal_item
						.img_wrap
							img(src="static/img/icons/section_2/7.svg")
						span Разработка новой структуры управления бизнесом	
						
				.deal_item_wrap
					a(href="#").deal_item
						.img_wrap
							img(src="static/img/icons/section_2/8.svg")
						span Разработка новой структуры управления бизнесом	
						
				.deal_item_wrap
					a(href="#").deal_item
						.img_wrap
							img(src="static/img/icons/section_2/9.svg")
						span Разработка новой структуры управления бизнесом	
						
				.deal_item_wrap
					a(href="#").deal_item
						.img_wrap
							img(src="static/img/icons/section_2/10.svg")
						span Разработка новой структуры управления бизнесом			
				
section.section_bottom
	.button_wrap
		a(href="#callback").buttons Заказать сопровождение					

	