.proffesionals
	padding-bottom 110px
	
	.section_head
		margin-bottom 40px
		
		h2
			text-align left
			
			&:after
				left 0
				transform translateX(0)				
			
		p
			text-align left
			
	.prof_items
		text-align center
			
	.prof_item
		display inline-block
		width 165px
		text-align center
		margin-right 26px
		vertical-align top
		margin-bottom 30px
		transition all .5s ease
		transform translateY(-30px)
		opacity 0
		
		&.on
			opacity 1
			transform translateY(0)
			
		
		&:last-child
			margin-right 0
			margin-bottom 60px
		
		span
			display block
			text-align center
			font-size 0.867em
			font-family "RalewayBold", sans-serif
			
		
		.prof_icon
			display block
			margin-bottom 35px
			text-align center
			
			img
				max-width 70px
				max-height 70px
				
	.prof_container
		text-align center
		
	.forms
		background-color rgba(221,221,221,0.8)
		border-bottom 4px solid #c0c0c0
		
		h4
			color #505864
			
		p
			color #5e6267
			
		label
			color #778390
			
		input
			background-color #c0c0c0
			box-shadow 0 -3px #737373
			color #2c3949
			
			&:focus
				box-shadow 0 -5px #737373
				transition all .5s ease
				background-color #d6d3d3
		
		
				
				
			
			
			
			
		
		
		
		
		