footer
	.footer_top_line
		.container
			.row
				.col-md-3.col-sm-6.col-xs-3
					a(href="/").logo
						img(src="static/img/svg/logo.svg" alt="Armata Financial Group")
				.col-lg-2.col-md-9.col-sm-6.col-xs-9.col-lg-push-7
					.phone_wrap
						.phone +7 (495) 00-99-56
						a(href="#").toggle_mnu.hidden-lg
							.sandvich_bottom
								.sandvich_line.sandvich_line--top
								.sandvich_line.sandvich_line--middle
								.sandvich_line.sandvich_line--bottom
								
				.col-lg-7.col-md-12.col-lg-pull-2
					nav.main_mnu_bottom
						ul
							li.active
								a(href="#") Главная
							li
								a(href="#") О компании
							li
								a(href="#") Оценка
							li
								a(href="#") Сделки M&amp;A
							li
								a(href="#") Бухгалтерские услуги
							li
								a(href="#") Контакты
								
	.footer_bottom_line
		.arrow_top
		
		