section.homesect.gray.advantages
	.container
		.row
			.section_head.col-md-10.col-md-offset-1
				h2 Преимущества Armata Financical Group
				p 
					strong Компания AFG 
					| поддерживает российские и иностранные компании, работающие на отечественном рынке в решении задач экономического роста, защиты своих интересов, управления текущей деятельностью. Помогает создавать системы владения активами, устанавливает коммуникации с новыми партнерами и рынками, организует сделки и привлекает капиталы.
					
				h3 Привлекательные условия сотрудничества
		
		.container
			.row
				.cards
					.card.card-off
						.card_icon
							img(src="static/img/icons/section_4/1.svg" alt="Sales")
						h4 Скидки
						p Предоставляем всем нашим клиентам уникальную возможность получить скидку 50% на все услуги
						  
					.card.card-off
						.card_icon
							img(src="static/img/icons/section_4/2.svg" alt="Team")
						h4 Команда
						p У нас большой опыт работы в крупнейших консалтинговых компаниях
						
					.card.card-off
						.card_icon
							img(src="static/img/icons/section_4/3.svg" alt="speed")
						h4 Скорость
						p Приступаем к выполнению обязательст в день обращения в нашу компанию	
							
					
section.section_bottom.section_bottom--gray
	.button_wrap
		a(href="#callback").buttons Обратиться к нам				
 
					