section.homesect.evaluation
	.container
		.row
			.section_head.col-md-10.col-md-offset-1
				h2 Независимая оценка имущества
				p 
					strong Определение рыночной стоимости 
					| любого актива, или 
					a(href="#") оценка 
					| — это первый этап всех рыночных отношений. Оценка заключается в объективном анализе объекта с целью придания ему стоимостных характеристик, выраженных в едином денежном эквиваленте.
	.section_content
		.container
			.row
				.col-sm-4.info_item_wrap
					.info_item
						h4
							a(href="#") Оценка ценных бумаг
						p Определение рыночной стоимости ценных бумаг и документов
						
				.col-sm-4.info_item_wrap
					.info_item
						h4
							a(href="#") Оценка бизнеса и предприятий
						p Профессиональная оценка бизнес-активов предприятия
						
				.col-sm-4.info_item_wrap
					.info_item
						h4
							a(href="#") Оценка недвижимости
						p Профессиональная оценка жилого и нежилого имущества
						
						
				.col-sm-8.info_item_wrap
					.info_item
						h4
							a(href="#") Оценка машин и оборудования
						p Профессиональная оценка машин и оборудования для бизнеса
						
						
				.col-sm-4.info_item_wrap
					.info_item
						h4
							a(href="#") Оценка инвестиционных проектов
						p Независимая оценка бизнес проектов любого направления		
						
				
						
			
				
		.evaluation_bottom_triangle
			img(src="static/img/svg/logo.svg" alt="Armata Financical Group").triangle_logo
			img(src="static/img/icons/section_1/scales.svg" alt="Scales").scales.hidden-xs
	.evaluation_bottom
		.container
			.row
				.col-sm-4.info_item_wrap
					.info_item
						h4
							a(href="#") Оценка нематериальных активов
						p Определение стоимости нематериальных активов различных видов
						
				.col-sm-4.info_item_wrap
					.info_item
						h4
							a(href="#") Оценка себестоимости продукции
						p Определение себестоимости продукции производства
						
				.col-sm-4.info_item_wrap
					.info_item
						h4
							a(href="#") Бизнес-планирование и оценка
						p Разработка бизнес-плана и оценка его эффективности
			
			