section.deal.homesect.proffesionals
	.container
		.row
			.left_container.col-md-8
				.section_head
					h2 Мы-профессионалы
					p Наши специалисты являются профессионалами высочайшего класса, лауреатами и призерами многих конкурсов и первенств в области финансов и бухгалтерии. За своими плечами имеют богатый опыт осуществления проектов в области оценки, ведения бухгалтерии, слияний и присоединений в сферах строительства, жилищно-коммунальных услуг, производства, аэрокосмической промышленности и прочих.


				.prof_items
					.prof_container
						.prof_item
							.prof_icon
								img(src="../static/img/icons/section_8/1.svg" alt="alt")
							span Диплом по налогообложению РФ (ДипНРФ), квалификация ACCA

						.prof_item
							.prof_icon
								img(src="../static/img/icons/section_8/2.svg" alt="alt")
							span Аттестат профессионального бухгалтера Института профессиональных бухгалтеров России 

						.prof_item
							.prof_icon
								img(src="../static/img/icons/section_8/3.svg" alt="alt")
							span Аттестат налогового консультанта 2-й категории Палаты налоговых консультантов России

						.prof_item
							.prof_icon
								img(src="../static/img/icons/section_8/4.svg" alt="alt")
							span Призер Первой всероссийской премии бухгалтеров строительной отрасли «Профессиональные грани-2011»
							
							
			.right_container.col-md-4
				form.forms
					h4 Оставить заявку:
					p Оставьте заявку и мы свяжемся с вами в течение 15 минут в рабочее  время с 10:00 до 18:00 c пн-пт.

					label
						span Ваше имя:
						input(type="text" name="name" required)
					label
						span Ваш телефон:
						input(type="text" name="phone" required)
					.button_wrap
						button Отправить
				