section.homesect.gray.reviews
	.container
		.row
			.section_head.col-md-10.col-md-offset-1
				h2 Отзывы клиентов
				p Послушайте, что о нас говорят благодарные клиенты
				
			
			.slider_wrap
				
				.slider
					.slide
						
						.container
							.row
								.col-md-10.col-md-offset-1
									.slide_icon
										img(src="../static/img/content/team/1.jpg" alt="Review")
									h4 Михаил Алексеевич Потапов
									p ОАО "Роскомнадзор"
									span Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Подзаголовок вскоре, деревни? Вопроса строчка пор, последний вершину заглавных единственное? Над щеке злых, залетают то безорфографичный своих текстов бросил живет. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Подзаголовок вскоре, деревни? Вопроса строчка пор, последний вершину заглавных единственное? Над щеке злых, залетают то безорфографичный своих текстов бросил живет.

					.slide
						.container
							.row
								.col-md-10.col-md-offset-1
									.slide_icon
										img(src="../static/img/content/team/1.jpg" alt="Review")
									h4 Михаил Алексеевич Потапов
									p ОАО "Роскомнадзор"
									span Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Подзаголовок вскоре, деревни? Вопроса строчка пор, последний вершину заглавных единственное? 

					.slide
						.container
							.row
								.col-md-10.col-md-offset-1
									.slide_icon
										img(src="../static/img/content/team/1.jpg" alt="Review")
									h4 Михаил Алексеевич Потапов
									p ОАО "Роскомнадзор"
									span Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Подзаголовок вскоре, деревни? Вопроса строчка пор, последний вершину заглавных единственное? Над щеке злых, залетают то безорфографичный своих текстов бросил живет. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Подзаголовок вскоре, деревни? Вопроса строчка пор, последний вершину заглавных единственное? Над щеке злых, залетают то безорфографичный своих текстов бросил живет.


					.slide
						.container
							.row
								.col-md-10.col-md-offset-1
									.slide_icon
										img(src="../static/img/content/team/1.jpg" alt="Review")
									h4 Михаил Алексеевич Потапов
									p ОАО "Роскомнадзор"
									span Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Подзаголовок вскоре, деревни? Вопроса строчка пор, последний вершину заглавных единственное? Над щеке злых, залетают то безорфографичный своих текстов бросил живет. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Подзаголовок вскоре, деревни? Вопроса строчка пор, последний вершину заглавных единственное? Над щеке злых, залетают то безорфографичный своих текстов бросил живет.					
