section.homesect.blue.steps_work
	.container
		.row
			.section_head.col-md-10.col-md-offset-1
				h2 Как мы работаем
                
	.triangles_container
		.container
			.row
				.step_item
					.step_content
						img(src="../static/img/icons/section_5/1.svg" alt="1")
						span.number 1.
						span.text Вы оставляете заявку
						
					svg#step-svg-0(xmlns:dc='http://purl.org/dc/elements/1.1/', xmlns:cc='http://creativecommons.org/ns#', xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:svg='http://www.w3.org/2000/svg', xmlns='http://www.w3.org/2000/svg', version='1.1', width='291.01178', height='129.30923', viewbox='0 0 291.01178 129.30923')
						path#path3690(style='fill:#f39f1f;fill-opacity:0;stroke-opacity:0;stroke-width:3px;stroke:#f39f1f', d='M 3.0249347,128.30545 3.0210718,64.253663 2.7604151,1.505681 v 0 H 124.35307 245.94573 L 289.50611,62.325822 245.7805,128.00221 H 124.2416 Z')


				.step_item
					.step_content
						img(src="../static/img/icons/section_5/2.svg" alt="1")
						span.number 2.
						span.text Подписываем договор
					
					svg#step-svg-1(xmlns:dc='http://purl.org/dc/elements/1.1/', xmlns:cc='http://creativecommons.org/ns#', xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:svg='http://www.w3.org/2000/svg', xmlns='http://www.w3.org/2000/svg', xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd', xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape', version='1.1', width='291.37463', height='130.10843', viewbox='0 0 291.37463 130.10843', sodipodi:docname='step_triangle.svg', inkscape:version='0.92.1 r15371')
						path#path4487-0-8(inkscape:connector-curvature='0', style='fill:#f39f1f;fill-opacity:0;stroke-opacity:0;stroke-width:3px;stroke:#f39f1f', d='M 2.5094683,129.35558 C 17.526403,107.64386 31.450734,86.275661 45.982202,62.216365 31.112648,39.568994 16.475565,22.553482 2.8672985,1.506931 L 124.56849,1.9287388 246.26967,2.3505464 c 0,0 33.01143,47.3708376 43.59927,61.0982796 -14.84566,23.567742 -27.0168,40.959894 -43.76464,65.661834 L 124.45692,128.68904 C 5.1916316,128.27568 2.5094683,129.35558 2.5094683,129.35558 Z', sodipodi:nodetypes='cccccccsc')


				.step_item
					.step_content
						img(src="../static/img/icons/section_5/3.svg" alt="1")
						span.number 3.
						span.text Мы проводим оценку
						
					svg#step-svg-2(xmlns:dc='http://purl.org/dc/elements/1.1/', xmlns:cc='http://creativecommons.org/ns#', xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:svg='http://www.w3.org/2000/svg', xmlns='http://www.w3.org/2000/svg', xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd', xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape', version='1.1', width='291.37463', height='130.10843', viewbox='0 0 291.37463 130.10843', sodipodi:docname='step_triangle.svg', inkscape:version='0.92.1 r15371')
						path#path4487-0-8(inkscape:connector-curvature='0', style='fill:#f39f1f;fill-opacity:0;stroke-opacity:0;stroke-width:3px;stroke:#f39f1f', d='M 2.5094683,129.35558 C 17.526403,107.64386 31.450734,86.275661 45.982202,62.216365 31.112648,39.568994 16.475565,22.553482 2.8672985,1.506931 L 124.56849,1.9287388 246.26967,2.3505464 c 0,0 33.01143,47.3708376 43.59927,61.0982796 -14.84566,23.567742 -27.0168,40.959894 -43.76464,65.661834 L 124.45692,128.68904 C 5.1916316,128.27568 2.5094683,129.35558 2.5094683,129.35558 Z')
	
						
					
								
				.step_item
					.step_content
						img(src="../static/img/icons/section_5/4.svg" alt="1")
						span.number 4.
						span.text Вы получаете отчет
						
					svg#step-svg-3(xmlns:dc='http://purl.org/dc/elements/1.1/', xmlns:cc='http://creativecommons.org/ns#', xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:svg='http://www.w3.org/2000/svg', xmlns='http://www.w3.org/2000/svg', xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd', xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape', version='1.1', width='291.37463', height='130.10843', viewbox='0 0 291.37463 130.10843', sodipodi:docname='step_triangle.svg', inkscape:version='0.92.1 r15371')
						path#path4487-0-8(inkscape:connector-curvature='0', style='fill:#f39f1f;fill-opacity:0;stroke-opacity:0;stroke-width:3px;stroke:#f39f1f', d='M 2.5094683,129.35558 C 17.526403,107.64386 31.450734,86.275661 45.982202,62.216365 31.112648,39.568994 16.475565,22.553482 2.8672985,1.506931 L 124.56849,1.9287388 246.26967,2.3505464 c 0,0 33.01143,47.3708376 43.59927,61.0982796 -14.84566,23.567742 -27.0168,40.959894 -43.76464,65.661834 L 124.45692,128.68904 C 5.1916316,128.27568 2.5094683,129.35558 2.5094683,129.35558 Z')
	
						
															
					
			
section.section_bottom.section_bottom--blue
	.button_wrap
		a(href="#callback").buttons Оставить заявку
	

		