/* font-family: "OpenSansBold"; */
@font-face {
	font-family: "OpenSansBold";
	src: url("OpenSansBold/OpenSans-Bold-webfont.eot");
	src: url("OpenSansBold/OpenSans-Bold-webfont.eot?#iefix")format("embedded-opentype"),
	url("OpenSansBold/OpenSans-Bold-webfont.woff") format("woff"),
	url("OpenSansBold/OpenSans-Bold-webfont.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "OpenSansRegular"; */
@font-face {
	font-family: "OpenSansRegular";
	src: url("OpenSansRegular/OpenSans-Regular-webfont.eot");
	src: url("OpenSansRegular/OpenSans-Regular-webfont.eot?#iefix")format("embedded-opentype"),
	url("OpenSansRegular/OpenSans-Regular-webfont.woff") format("woff"),
	url("OpenSansRegular/OpenSans-Regular-webfont.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "OpenSansExtraBold"; */
@font-face {
	font-family: "OpenSansExtraBold";
	src: url("OpenSansExtraBold/OpenSans-ExtraBold-webfont.eot");
	src: url("OpenSansExtraBold/OpenSans-ExtraBold-webfont.eot?#iefix")format("embedded-opentype"),
	url("OpenSansExtraBold/OpenSans-ExtraBoldr-webfont.woff") format("woff"),
	url("OpenSansExtraBold/OpenSans-ExtraBold-webfont.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "OpenSansBoldItalic"; */
@font-face {
	font-family: "OpenSansBoldItalic";
	src: url("OpenSansBoldItalic/OpenSans-BoldItalic-webfont.eot");
	src: url("OpenSansBoldItalic/OpenSans-BoldItalic-webfont.eot?#iefix")format("embedded-opentype"),
	url("OpenSansBoldItalic/OpenSans-BoldItalic-webfont.woff") format("woff"),
	url("OpenSansBoldItalic/OpenSans-BoldItalic-webfont.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}


/* font-family: "OpenSansItalic"; */
@font-face {
	font-family: "OpenSansItalic";
	src: url("OpenSansItalic/OpenSans-Italic-webfont.eot");
	src: url("OpenSansItalic/OpenSans-Italic-webfont.eot?#iefix")format("embedded-opentype"),
	url("OpenSansItalic/OpenSans-Italic-webfont.woff") format("woff"),
	url("OpenSansItalic/OpenSans-Italic-webfont.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "OpenSansSemibold"; */
@font-face {
	font-family: "OpenSansSemibold";
	src: url("OpenSansSemibold/OpenSans-Semibold-webfont.eot");
	src: url("OpenSansSemibold/OpenSans-Semibold-webfont.eot?#iefix")format("embedded-opentype"),
	url("OpenSansSemibold/OpenSans-Semibold-webfont.woff") format("woff"),
	url("OpenSansSemibold/OpenSans-Semibold-webfont.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}