@media screen and (max-width 1200px)
	.main_mnu
		z-index 2
		position absolute
		right 16px
		display none
		min-width 270px
		float right
		text-align right
		font-size 1.067em
		top 20px
		
		ul
			background-color #273646
			
			li
				margin 0
				display block
				padding-right 20px
				border-bottom 1px solid #34465a
				
				&:last-child
					border-bottom none
				
				&:hover, &.active
					background-color #34465a
					border-left 1px solid #fff
					transition all .5s
					
					
	.proffesionals
		
		.prof_item
			
			&:nth-child(1)
				margin-left 27px
				
				
				
				
	.phone_wrap
		
		.phone
			padding-right 65px
			font-size 1.2em
			
			
	.account_serv
		
		.section_content		
			
			.info_item_wrap
				
				.info-item
					min-height 130px
					
					
	.account_serv_img_wrap
		top 84px
		left 93px
		
		
	.step_item				
		margin-bottom 20px
		
		
	.main_mnu_bottom
		z-index 2
		position relative
		right 16px
		display none
		min-width 270px
		float right
		text-align right
		font-size 1.067em
		
		ul
			background-color #273646
			
			li
				margin 0
				display block
				padding-right 20px
				border-bottom 1px solid #34465a
				
				&:last-child
					border-bottom none
				
				&:hover, &.active
					background-color #34465a
					border-left 1px solid #fff
					transition all .5s
					
					
					
					
@media screen and (max-width 992px)
	.main_mnu
		top 50px
		
		
	footer
		
		.main_mnu_bottom			
			top 10px
			
			ul
				li
					display block
					
					
	.header_wrap
		margin-top 0
		
		
	.section_content
		
		.evaluation_bottom_triangle			
			background-size cover
			
			
	.info_item
		margin 30px 0
		
		
	.account_serv_img_wrap
		display block		
		left 70px
		
		
	.account_serv
		
		.section_content
			background-image none
			min-height auto
			
			.info_item_wrap
				margin-bottom 30px
				
				.info_item
					width 235px
					margin 0 !important
					
					
	.account_serv_img_wrap
		top -17px
		
		
	.bx-wrapper
	
		.bx-viewport			
			min-height 370px
			
		.bx-controls-direction
			
			a
				top 20%
				
				
	.proffesionals
		
		.section_head
			
			h2			
				text-align center
				
				&:after
					left 50%
					transform translateX(-50%)	
				
			p			
				text-align center
				
				
				
				
@media screen and (max-width 768px)
	.section_content
		
		.info_item
			padding-bottom 30px

			&:after
				background-color #d3d5d8

			&:first-child
				margin-top 0
				
				
	.evaluation_bottom
		padding-bottom 40px
		
		.info_item_wrap
			
			.info_item
				margin-bottom 50px				
				
		.info_item_wrap:nth-child(2)
			
			.info_item				
				margin-top 0
				
				
	.info_item
		max-width 100%	
		
		&:after
				background-color #65788d
				
				
	.section_head
		margin-bottom 50px
		
		a
			display block
			
			
	.account_serv
		
		.section_content
			background-image none
			min-height auto
			
			.info_item_wrap
				
				.info_item
					border-bottom 1px solid #3d4b5c
					width 100%
					
					
	.deal
		
		h3
			a
				font-size 0.867em
				
				
	.account_serv_img_wrap
		display none
		
		
	.bx-wrapper
	
		.bx-viewport			
			min-height 400px
			
		.bx-controls-direction
			
			a
				top 17%
				
				
	.contact
		
		.teams
			margin-left 0
			
			
	.reviews
		padding-bottom 40px			
			
			
			
			
@media screen and (max-width 610px)
	.bx-wrapper
	
		.bx-viewport			
			min-height 410px
			
			
			
			
@media screen and (max-width 520px)
	.bx-wrapper
	
		.bx-viewport			
			min-height 440px
			
			
			
@media screen and (max-width 460px)
	.proffesionals
		
		.prof_item
			width 100%
			
			&:nth-child(1)
				margin-left 0
	
	
	
	
	
	
@media screen and (max-width 480px)
	.phone_wrap
		position relative
		
		.phone			
			font-size 1.2em
			line-height 34px
			padding-right 50px
			
			
		.toggle_mnu			
			line-height 34px
			width 34px
			height 34px
			
			.sandvich
				position absolute
				left -20%
				bottom -20%
				
				
	.main_mnu
		right 25px
			
			
	.logo
		
		img
			width 70px
			
			
	.header_wrap
	
		h1
			margin-top 0
			
			
	.deal_item_wrap		
		width 140px
		padding 0 10px
		
		
	.section_bottom
		
		.buttons
			padding 10px
			font-size 1.2em
			
			
	.section_bottom		
		padding 30px 0 20px
		
		
	.homesect
		
		&.blue 
			padding-bottom 20px
			
			
	 .evaluation_bottom
		 padding-bottom 20px
		 
		 
	.steps_work
		
		.triangles_container
			
			.step_item
				margin-left 0
				
	.bx-wrapper
	
		.bx-viewport			
			min-height 480px
			
	.proffesionals
		
		.forms
			
			h4
				font-size 2em
			
			
			
			
@media screen and (max-width 410px)
	.bx-wrapper
	
		.bx-viewport			
			min-height 500px
			
		.bx-controls-direction
			
			a
				top 15%	
		 
@media screen and (max-width 370px)
	
	.deal
		
		h3
			a
				font-size 0.75em
				
				
	.bx-wrapper
	
		.bx-viewport			
			min-height 530px
			
@media screen and (max-width 340px)
	.bx-wrapper
	
		.bx-viewport			
			min-height 570px				