// Подключаем стили библиотек
@import '_libs.styl'

// Подключаем переменные
@import '_vars.styl'

// Подключаем спрайты (просто раскоментируем импорт при появлении PNG спрайтов)
// @import '_sprite.styl'

// Подключаем миксины
@import '_mixins.styl'


 

body
  font-family mainFont
  line-height em(22px)  
  font-size 15px
  min-width 320px
  position relative
  overflow-x hidden
  color mainTextColor
  background-color #f9f9f9

h1,h2,h3,h4,h5,h6
  margin 0
  line-height 1.467em
  
  

ul,li
  margin 0
  padding 0
  list-style-type none
  
p
  margin 0
 
  
  
a
  text-decoration none
  color black
  cursor pointer

 

audio,
canvas,
iframe,
img,
svg,
video
  vertical-align middle
  
textarea
  resize none

section
  position relative
  padding 80px 0
  

input,
select,
button
  outline none

*, *:before, *:after
  box-sizing border-box
  
.hide
  display none
  
.show
  display block
  
::-moz-selection 
  background: #b3d4fc;
  text-shadow: none;
  
::selection 
  background: #b3d4fc;
  text-shadow: none;
  
.clearfix:before,
.clearfix:after 
  content: " ";
  display: table;

.clearfix:after 
  clear: both;

.clearfix 
  *zoom: 1;

.wrapper
  width 100%
  max-width 1920px
  margin 0 auto



// Общие стили
@import '_common_styles.styl'

// Стили шапки
@import 'modules/_header.styl'

// Стили меню
@import 'modules/_menu.styl'

// Стили главной страницы
@import 'page/_index.styl'

// Стили футера
@import 'modules/_footer.styl'

// Стили секции независимая оценка
@import 'sections/_evaluation.styl'

// Стили секции бухгалтерские услуги
@import 'sections/_account_serv.styl'

// Стили секции наши преимущества
@import 'sections/_advantages.styl'

// Стили секции наши преимущества
@import 'sections/_step_work.styl'

// Стили секции с кем можно связаться
@import 'sections/_contacts.styl'

// Стили секции нижняя секция
@import 'sections/_section_bottom.styl'

// Стили секции сделки M&A
@import 'sections/_MandA.styl'

// Стили секции Отзывы
@import 'sections/_reviews.styl'

// Стили секции Мы проффессионалы
@import 'sections/_proffessionals.styl'

// Стили медиазапросов
@import '_media.styl'

