@media all and (max-width 1220px)
	
	.banner_big,
	.banner_small
		float none
		margin 0 auto 20px
	.best_sales_item		
		&:nth-of-type(3n)
			margin 0 30px 30px -3px
@media all and (max-width 1200px)
	.footer_logo
		margin-right 50px
@media all and (max-width 1000px)
	.footer
		padding 40px 0
	.footer_pay
		float none
		display block
		margin 20px 0 0
		text-align center

@media all and (max-width 1225px)
	.new_arriwals	
		.product_item			
			&:nth-of-type(4n)
				margin 0 30px 50px 20px
		
			

        
			

@media all and (max-width 900px)
	.header_logo
		margin-right 30px      
        
	.header-nav_list
		li
			margin-right 15px
	.index_slider_info		
		left 10%
		top 20%
		
	.subscribe_title
	.subscribe_descr
		display block
		margin 0 auto 15px
		text-align center
		
	.subscribe_form
		float none
		display block
		text-align center
		
@media all and (max-width 800px)
	.footer_logo
	.footer_nav	
		display block
		text-align center
		margin 0 auto 25px
	.footer_logo_img
		margin 0 auto 25px
	.footer_nav_list
		text-align left
		margin 0 30px 30px		
		&:last-child
				margin 0 30px 30px
	.footer_nav_list li
		list-style-type none		
		
@media all and (max-width 700px)   
	.best_sales_item
		display block
		margin 0 auto 20px
		&:nth-of-type(3n)
			margin 0 auto 20px
	.banner_big
		padding-left 20px
		max-width 570px
	.banner_big_text
		margin-right 20px    
	.banner_big_title
		margin-right 10px
	.header_nav
		display block
		text-align center
		margin 20px auto
	.header_action
		float none
		display block
		margin 0 auto	
		
	.header_logo,
	.header-nav_list
		display block
		margin 0 auto	        
@media all and (max-width 600px)
	span.index-slider_title
		font-size 2 rem
		margin-bottom 15px
	.index_slider_goods,
	.index_slider_descr
		font-size 1 rem
	.index_slider_goods
		margin-bottom 10px		
	.index_slider_actions
		margin-top 15px
	.new_arriwals	
		.product_item
			margin 0 10px 50px	
			&:nth-of-type(4n)
				margin 0 auto
	.index_slider
		 border-bottom: 1px solid lightGrayColor
	.banner_big
		height auto
		padding 15px
		text-align center
	.banner_big_img
		display block
		margin 0 auto 10px
	.banner_big_text
		display block
		margin 0
	.banner_big_title	
		margin 0 auto 15px
		font-size 1 rem
	.banner_big_descr
		padding-left 0
		margin 0 auto 15px
		font-size 0.75 rem
	.banner_big_price
		&:before
			margin-right 5px
		font-size 1.5rem
@media all and (max-width 500px)
	.footer_nav_list
		width 250px
	.header_nav
		a
			font-size 1 rem	
@media all and (max-width 450px)
	.input_field_wrap
		margin-bottom 10px
	.subscribe_form
		.g-btn
			width 100%

@media all and (max-width 450px)
	.header_top
		padding 10px 0
	.header_contacts,
	.header_social
		float none
		text-align center
	.header_social
		margin-top 20px
	span.index-slider_title
		font-size 1.5 rem
		margin-bottom 10px
	.index_slider_actions
		margin-top 10px
	.index_slider_price,
	.index_slider_order,
	.index_slider_goods,
	.index_slider_descr
		font-size 0.75 rem
	.js-index-slider_pager
		a
			width 5px
			height 10px
			&.active
				height 20px				
				
@media all and (max-width 400px)
	.best_sales_item
		padding 15px
	.best_sales_img
		position static
		margin-bottom 20px
	.best_sales_info
		&:before
			display none
	.header_action,
	.header-nav_list
		display none
	.header-nav_list
		background-color mainBgColor 		
		margin 0 auto
		a
			padding 10px 0
			&:hover,
			&.active
				background-color hoverMenuBackground
				font-family semibold
				transition .5s
				border-left 2px solid #707376	
		li
			display block
			width 100%
			border 1px solid #fff
			text-align left		
			

					 		

	.touch_icons,
	.touch_menu	
		display block
		margin 20px auto
		text-align center
		font-family semibold

	
	
			 			
		