$s-basket = 0px 0px 0px 0px 22px 21px 119px 115px 'sprite.png';
$s-favourite = 34px 72px -34px -72px 19px 16px 119px 115px 'sprite.png';
$s-fb = 107px 53px -107px -53px 6px 11px 119px 115px 'sprite.png';
$s-google = 0px 104px 0px -104px 13px 11px 119px 115px 'sprite.png';
$s-header_basket_icon = 35px 36px -35px -36px 24px 17px 119px 115px 'sprite.png';
$s-header_mail = 74px 33px -74px -33px 18px 11px 119px 115px 'sprite.png';
$s-header_phone = 107px 0px -107px 0px 12px 12px 119px 115px 'sprite.png';
$s-header_search_icon = 74px 0px -74px 0px 18px 18px 119px 115px 'sprite.png';
$s-header_user_icon = 0px 36px 0px -36px 20px 21px 119px 115px 'sprite.png';
$s-instagramm = 107px 27px -107px -27px 11px 11px 119px 115px 'sprite.png';
$s-order_cart = 37px 0px -37px 0px 22px 21px 119px 115px 'sprite.png';
$s-share = 0px 72px 0px -72px 19px 17px 119px 115px 'sprite.png';
$s-tw = 68px 72px -68px -72px 14px 11px 119px 115px 'sprite.png';
