.header-top {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05); }

.top-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 20px; }

.top-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 30px; }

.logo-text {
  font-family: "ProximaNova", sans-serif;
  margin-left: 10px;
  margin-bottom: -5px; }
  .logo-text p {
    font-size: 3rem;
    color: #1AB0CE;
    text-transform: uppercase;
    line-height: 40px; }
  .logo-text span {
    font-size: 0.94rem;
    display: block; }

.shedule {
  width: 30%;
  text-align: center;
  font-size: 16px;
  padding-left: 65px; }
  .shedule p {
    margin-bottom: 10px; }
  .shedule span {
    font-weight: bold; }

.personal-user {
  padding-left: 60px;
  padding-top: 5px; }
  .personal-user a {
    color: #3A4047;
    font-size: 14px; }
    .personal-user a:hover {
      text-decoration: none; }

.personal-link {
  padding-left: 20px;
  position: relative; }
  .personal-link:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    bottom: 0;
    color: #1AB0CE;
    background: url(../img/svg/user.svg) no-repeat; }

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-top: 5px; }
  .phone a {
    color: #3A4047;
    font-size: 14px; }
    .phone a:hover {
      text-decoration: none; }

.phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-top: 15px;
  position: relative; }
  .phone-number img {
    margin-right: 20px; }
  .phone-number p {
    font-weight: bold;
    font-size: 17px;
    padding-left: 32px;
    position: relative;
    margin-right: 10px; }
    .phone-number p:before {
      content: "";
      display: block;
      position: absolute;
      background: url(../img/svg/phone.svg) no-repeat;
      left: 0;
      top: 20%;
      width: 100%;
      height: 100%; }

.phone-text {
  text-align: right; }

.phone-arrow {
  background-color: #EDEDED;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-bottom: 3px;
  position: relative;
  cursor: pointer; }
  .phone-arrow:before {
    position: absolute;
    display: block;
    content: "\f078";
    font-family: "FontAwesome";
    left: 20%;
    top: 10%;
    color: #3A4047;
    font-size: 12px; }

.phone-cart .img-wrap {
  margin-top: 10px;
  margin-left: 20px;
  position: relative; }

.phone-cart .phone-items-cart {
  position: absolute;
  top: -5%;
  right: -25%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #1AB0CE; }
  .phone-cart .phone-items-cart span {
    display: block;
    position: absolute;
    top: 5%;
    left: 35%;
    color: #fff;
    font-weight: bold; }

.container-fluid {
  width: 100%;
  max-width: 1920px;
  background: url("../img/header_bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }
  .container-fluid h1 {
    font-size: 57px;
    position: relative;
    margin-bottom: 30px; }
    .container-fluid h1:after {
      display: block;
      position: absolute;
      content: "";
      background-color: #fff;
      width: 120px;
      height: 2px;
      left: 50%;
      bottom: -10px;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
  .container-fluid h2 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 20px; }

* {
  margin: 0;
  padding: 0; }

ul li {
  list-style-type: none; }

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .navigation-list li {
    padding: 20px 30px;
    margin-top: 4px; }
    .navigation-list li:hover {
      border-top: 1px solid #1AB0CE;
      -webkit-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease; }
      .navigation-list li:hover a {
        text-decoration: none;
        color: #1AB0CE;
        -webkit-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease; }
    .navigation-list li:first-child {
      padding-left: 0; }
    .navigation-list li.search {
      padding-right: 0; }
      .navigation-list li.search:hover {
        border-top: none; }
  .navigation-list a {
    color: #3A4047;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "ClearSans", sans-serif;
    font-weight: bold;
    font-size: 16px; }

.product .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center; }

.product-item {
  max-width: 370px;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-right: 30px;
  padding: 30px;
  text-align: left;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
  border: 1px solid #DCE1E6; }
  .product-item:last-child {
    margin-right: 0; }
  .product-item h3 {
    color: #3A4047;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold; }
  .product-item img {
    margin-right: 35px; }

.product-item-text {
  text-align: left; }
  .product-item-text li {
    margin-bottom: 15px; }

.lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .lists ul.left {
    margin-right: 50px; }

.about-us {
  border-bottom: 1px solid #E8EDF2;
  padding-bottom: 40px;
  padding: 10px 15px; }
  .about-us .section_head {
    padding-bottom: 5px; }
  .about-us h4 {
    color: #3A4047;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 30px; }

.news {
  padding-bottom: 60px; }
  .news .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .news span {
    color: #BEC7D1;
    display: block;
    margin-bottom: 10px; }

.news-item {
  text-align: center;
  padding: 30px 15px;
  border-top: 1px solid #fff;
  margin-bottom: 20px; }
  .news-item:hover {
    cursor: pointer;
    border-top: 1px solid #1AB0CE;
    -webkit-box-shadow: 0px 14px 24px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 14px 24px 0px rgba(0, 0, 0, 0.05);
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease; }
    .news-item:hover a {
      color: #1AB0CE;
      text-decoration: underline;
      -webkit-transition: all .05s ease;
      -o-transition: all .05s ease;
      transition: all .05s ease; }
  .news-item a {
    text-decoration: none;
    color: #3A4047;
    font-size: 16px; }

footer {
  padding: 30px 0;
  background-color: #f7f7f7;
  opacity: 0.97;
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
  min-height: 160px;
  height: 100%; }
  footer a {
    color: #3A4047;
    text-decoration: underline; }
    footer a:hover {
      text-decoration: none;
      color: #1AB0CE;
      -webkit-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease; }
  footer .phone-number {
    margin-top: -13px;
    margin-bottom: 20px;
    position: relative; }
  footer .phone-arrow {
    background-color: #fff; }
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  footer .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 25px; }
  footer .shedule {
    text-align: left;
    font-size: 14px;
    width: 22%;
    padding-left: 10px; }
    footer .shedule p {
      margin-bottom: 25px;
      line-height: 21px; }
    footer .shedule span {
      font-weight: normal; }

.bottom-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .bottom-nav li {
    margin-bottom: 23px; }

.left-bottom-nav {
  margin-right: 70px; }

.company-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .company-name p {
    font-family: "Cuprum", sans-serif;
    font-size: 11px;
    text-transform: uppercase; }

.toggle_mnu {
  width: 40px;
  height: 40px;
  float: right;
  position: fixed;
  right: 20px;
  top: 37px;
  z-index: 3000;
  border: none;
  outline: none;
  display: none;
  cursor: pointer; }

.mnu_wrap {
  position: fixed; }

.sandwich {
  width: 25px;
  height: 3px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3000;
  display: block;
  display: block; }

.sw-topper {
  position: absolute;
  top: 25%;
  left: 17%;
  width: 25px;
  height: 3px;
  background: #1AB0CE;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s; }

.sw-bottom {
  position: absolute;
  width: 25px;
  height: 3px;
  top: 45%;
  left: 17%;
  background: #1AB0CE;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0.2s, 0s;
  -o-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s; }

.sw-footer {
  position: absolute;
  width: 25px;
  height: 3px;
  top: 65%;
  left: 17%;
  background: #1AB0CE;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.sandwich.active .sw-topper {
  top: 50%;
  -webkit-transform: rotate(140deg);
  -ms-transform: rotate(140deg);
  transform: rotate(140deg); }

.sandwich.active .sw-bottom {
  top: 50%;
  -webkit-transform: rotate(-140deg);
  -ms-transform: rotate(-140deg);
  transform: rotate(-140deg); }

.sandwich.active .sw-footer {
  opacity: 0;
  top: 0; }

.loader {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  background: none repeat scroll 0 0 #ffffff; }
  .loader .loader_inner {
    background-image: url("../img/load.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

.drop-list-phones {
  width: 100%;
  max-width: 220px;
  min-height: 160px;
  background-color: #f2f2f2;
  position: absolute;
  margin-top: 40px;
  margin-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: -2px;
  top: 12px;
  z-index: 50;
  display: none; }
  .drop-list-phones:before {
    display: block;
    content: "";
    border-style: solid;
    border-width: 0 8px 10px 8px;
    border-color: transparent transparent #f2f2f2 transparent;
    position: absolute;
    right: 5px;
    top: -10px; }
  .drop-list-phones.bottom-phones {
    top: -2px;
    background-color: #fff; }
    .drop-list-phones.bottom-phones:before {
      border-color: transparent transparent #fff transparent; }

.mts, .bilain, .kievstar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px; }
  .mts img, .bilain img, .kievstar img {
    margin-right: 10px; }
  .mts p, .bilain p, .kievstar p {
    font-size: 16px;
    font-weight: normal;
    padding: 0; }
    .mts p:before, .bilain p:before, .kievstar p:before {
      display: none; }

.kievstar p {
  margin-top: 3px; }

body {
  font-family: "ClearSans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #3A4047;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised;
  width: 100%; }

html, body {
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  color: #fff; }

.container {
  width: 97%;
  max-width: 1170px;
  margin: 0 auto; }

.btn {
  display: inline-block;
  text-align: center;
  max-width: 200px;
  width: 100%;
  background-color: #1AB0CE;
  padding: 15px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: 3px solid #1AB0CE; }
  .btn-news {
    max-width: 190px;
    background-color: #fff;
    color: #1AB0CE;
    border-radius: 2px;
    border: 1px solid #1AB0CE;
    padding: 8px 0;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px; }
    .btn-news:hover {
      background-color: #1AB0CE;
      color: #fff;
      -webkit-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease; }
  .btn:hover {
    background-color: #fff;
    color: #1AB0CE;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease; }

.call-btn {
  border-radius: 50%;
  width: 108px;
  height: 108px;
  background-color: #1AB0CE;
  z-index: 200;
  position: absolute;
  top: 31.5%;
  right: 5%;
  color: #fff;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  font-weight: bold; }
  .call-btn p {
    margin-top: 5px; }
  .call-btn img {
    margin-top: 15px; }

.section_head {
  text-align: center;
  font-size: 36px;
  color: #3A4047;
  font-weight: normal;
  padding: 45px 0 40px 0; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }
