section.about-us
	.container
		.about-us_img
			img(src="static/img/general/about_us_img.png")
		.about-us_text
			span.first Мы занимаемся поставкой и продажей трендовых товаров уже 5 лет.
			
			span.second Постоянно тестируем новые товары, выявляем тренды и поставляем их напрямую от поставщика.
			
			span.third Наши маркетологи разрабатывают и запускают сайты, настраивают рекламные каналы.
			