section.doing
	.container
		h2.section_title Чем вы будете заниматься
		span.doing_descr Вы будете продавать популярные товары через собственный интернет-магазин:
		.doing_icons
			.js-doing-icons
				.doing_icons_item.doing_icon_seo
					span СЕО, контекстная реклама, социальные сети, Авито
				.doing_icons_item.doing_icon_shop
					span Интернет-магазин
				.doing_icons_item.doing_icon_call
					span Звонок клиенту
				.doing_icons_item.doing_icon_send
					span Отправляете товар
				.doing_icons_item.doing_icon_cash
					span Получаете деньги	
								
								
								