section.open-form
	.container
		h2.section_title Присоединяйся к нашей команде!
		form.invite_form
			input(type="text" name="city" placeholder="Название города").g-input
			input(type="text" name="phone" placeholder="Телефон").g-input
			input(type="submit" value="Отправить заявку").g-btn.g-btn--dark