section.our_packets.gray_bg
	.container
		h2.section_title Наши пакеты
		.our_packets_slider
			.packets_slider_prev
			.packets_slider_next
			.js_our_packets_slider
				.our_packets_item
					h3.our_packets_item_title Старт
					ul.g_list
						li Настройка и подключение сайт landing page
						li Обучение
						li Первая партия товара на
							b  20000 р.
						li Подключение 1 канала рекламы
							span.our_packets_list_descr Яндекс-Директ
					.our_packets_item_bottom
						span.our_packets_item_number 50000 руб.
						a(href=".invite_form").g-btn.go_to Отправить заявку		
				.our_packets_item
					h3.our_packets_item_title Стандарт
					ul.g_list
						li Настройка и подключение сайт landing page
						li Обучение
						li Первая партия товара на
							b  25000 р.
						li Подключение 2 каналов рекламы
							span.our_packets_list_descr Яндекс-Директ и Google Adwords
						li Подключение новых трендовых товаров
							b  со скидкой 30%
						li Аккаунт-поддержка от нашего маркетингового агенства на первый месяц
					.our_packets_item_bottom
						span.our_packets_item_number 75000 руб.
						a(href=".invite_form").g-btn.go_to Отправить заявку	
				.our_packets_item
					h3.our_packets_item_title Премиум
					ul.g_list
						li Настройка и подключение сайт landing page
						li Обучение
						li Первая партия товара на
							b  35000 р.
						li Подключение 5 каналов рекламы
							span.our_packets_list_descr Яндекс-Директ и Google Adwords, таргетированная реклама в соц.сетях,РСЯ продвижение в Instagram
						li Подключение новых трендовых товаров
							b  со скидкой 50%
						li Аккаунт-поддержка от нашего маркетингового агенства на первый месяц
					.our_packets_item_bottom
						span.our_packets_item_number 100000 руб.
						a(href=".invite_form").g-btn.go_to Отправить заявку											