section.region
	.container
		h2.section_title Мы открываем одно представительство в регионе
		img(src="static/img/general/region_man.png").region_man_pic
		.open_form_wrap
			form.open_form.open_form_banner
				span.form_title Проверьте,<br> свободен ли Ваш город?
				input(type="text" name="name" placeholder="Имя").g-input
				input(type="text" name="phone" placeholder="Телефон").g-input
				input(type="submit" value="Отправить заявку").g-btn
			.open_form_sucess
				span.form_title Спасибо за вашу заявку!<br>
				span Наш менеджер свяжется<br> с Вами в ближайшее время!	
			