section.review.gray_bg
	.container
		h2.section_title Отзывы наших клиентов
		.review_slider
			.review_slider_next
			.review_slider_prev
			.js_review_slider
				.review_item
					.review_item_content
						<iframe width="560" height="315" src="https://www.youtube.com/embed/SHraPH2RA2A" frameborder="0" allowfullscreen></iframe>
				.review_item
					.review_item_content
						<iframe width="560" height="315" src="https://www.youtube.com/embed/x2I29k4o3F4" frameborder="0" allowfullscreen></iframe>
				.review_item
					.review_item_content
						<iframe width="560" height="315" src="https://www.youtube.com/embed/Dc45GXbuAaw" frameborder="0" allowfullscreen></iframe>
				.review_item
					.review_item_content
						<iframe width="560" height="315" src="https://www.youtube.com/embed/-gudk2s10-s" frameborder="0" allowfullscreen></iframe>						
				