section.top-banner
	h1 Стань нашим партнером <br> и получи интернет-магазин в твоем регионе
	.open_form_wrap
		form.open_form.open_form_banner
			input(type="text" name="name" placeholder="Имя").g-input
			input(type="text" name="phone" placeholder="Телефон").g-input
			input(type="submit" value="Отправить заявку").g-btn
		.open_form_sucess
			span Спасибо за вашу заявку!<br>Наш менеджер свяжется с Вами<br>в ближайшее время!	
	