section.why
	.container
		h2.section_title Почему с нами выгодно сотрудничать?
		.why_content
			ul.g_list
				li 
					b Сроки окупаемости
					|– учитывая минимальные вложения, Вы окупитесь за первый месяц
				li 
					b Возможность масштабирования
					| - вы будете продавать не только товар, который мы подключили Вам изначально, - мы постоянно тестируем новые товары, выявляем тренды, дальше у вас будет возможность постоянно подключать новые товары, которые будут появляться, таким образом, зарабатывать больше
				li 
					b Перспективные ниши
					| – мы продаем трендовый товар, на который уже есть спрос либо который набирает популярность
				li Предоставляем полное обучение по осуществлению продаж через интернет-магазин	

				li Вы получаете свой бизнес, сами зарабатываете, мы не контролируем вашу выручку и не берем роялти

				li 
					b Быстрый старт
					| - на запуск сайта, рекламных каналов, закуп первой партии товара нужно 5 дней, - Вы сможете получать первые заявки уже на 6й день	
				li 
					b Маркетинговая поддержка
					| - наши маркетологи настроят и адаптируют все рекламные каналы под Ваш регион и будут полностью сопровождать Ваш проект первый месяц

				li Мы сами занимаемся поставками товара от производителя, Вы будете получать товар по самым выгодным оптовым ценам
				
				li Высокомаржинальный товар			

					