extends ../layout/main

block title
	| Главная страница

block content   
	include ../sections/evaluation
	include ../sections/section_bottom
	include ../sections/MandA
	include ../sections/account_serv
	include ../sections/advantages
	include ../sections/step_work
	include ../sections/contacts
	include ../sections/reviews
	include ../sections/proffessionals
	include ../sections/forms