extends ../layout/main

block title
	| Главная страница

block content
	section.product_view
		.container
			.product_gallery
				ul.js-product-view-slider
					li
						img(src="static/img/content/products/product_slider_img1.png")
					li
						img(src="static/img/content/products/product_slider_img1.png")
					li
						img(src="static/img/content/products/product_slider_img1.png")
				.js-product-slider-pager
					a(href="" data-slide-index="0")
						img(src="static/img/content/products/product1_pager.png")
					a(href="" data-slide-index="1")
						img(src="static/img/content/products/product2_pager.png")
					a(href="" data-slide-index="2").active
						img(src="static/img/content/products/product3_pager.png")
			.product_info
				span.product_title FULL WINTER KIT
				span.product_descr Half Jacket + Skiny Trousers + Boot leather
				p.product_text Lorem Ipsum is simply dummy text of the printing and typesetting industr
				Lorem Ipsum is simply dummy text of the printing and typesetting industry
				.products_setings
					.product_choose_size
						span Choose Size
						ul.chose_size_list
							li S
							li M
							li.active L
							li XL
					.product_choose_quantity
						span.Choose Quantity
						.choose_quantity
							span.choose_quantity_up +
							span.choose_quantity_count 0
							span.choose_quantity_down -
				.product_actions
					.product_price_wrap
						span Price :
						span.product_price 120$
					.product_buttons
						ul.products_buttons_list
									li
										a(href="javascript:void(0);").product_share
									li
										a(href="javascript:void(1);").product_order
									li
										a(href="javascript:void(1);").product_favourite
						a(href="javascript:void(0);").g-btn Order Now				
 
	include ../modules/arriwals
	include ../modules/subscribe
	