extends ../layout/main

block title
	| Главная страница

block content
	include ../sections/top_banner
	include ../sections/about_us
	include ../sections/doing
	include ../sections/our_packets
	include ../sections/why
	include ../sections/review
	include ../sections/region
	include ../sections/open-form
	