footer
	.container
		a(href="#politic").popup-link.footer_politic Политика конфиденциальности
		a(href="tel:+7 (495) 123-45-67").footer_phone +7 (495) 123-45-67
		
		
.pop#politic.mfp-hide
	h4.popup_title Заголовок
	p  Это текст для тестирования Popup Это текст для тестирования Popup
	p  Это текст для тестирования Popup Это текст для тестирования Popup
	p  Это текст для тестирования Popup Это текст для тестирования Popup
	p  Это текст для тестирования Popup Это текст для тестирования Popup
		