header
	.container
		.logo.header_logo
			span Партнерская сеть
			span по продаже
			span трендовых товаров
		nav.main_nav
			.nav_mobile
				span.nav_mobile_line.nav_mobile_line--top
				span.nav_mobile_line.nav_mobile_line--middle
				span.nav_mobile_line.nav_mobile_line--bottom




			ul.main_nav_list
				li
					a(href=".why").go_to Чем вы будете заниматься
				li
					a(href=".our_packets").go_to Преимущества работы с нами
				li
					a(href=".invite_form").go_to Контакты					
