section.subscribe
		.container
			.subscribe_content
				span.subscribe_title NEWS LETTER
				span.subscribe_descr join us now to get all news and special offers
				form.subscribe_form
					.input_field_wrap
						input(type="text" name="email" placeholder="type your email here").input_field
					input(type="submit" value="join us").g-btn