.product_item
						.product_item_first
							img(src="static/img/content/products/product1.png").product_item_pic
							span.product_item_title Reebok Track Jacket
							span.product_item_price 100$
						.product_item_second
							ul.product_item_slider
								li
									img(src="static/img/content/products/product1.png")
								li
									img(src="static/img/content/products/product2.png")
								li
									img(src="static/img/content/products/product3.png")
								li
									img(src="static/img/content/products/product1.png")
							span.product_item_title Reebok Track Jacket
							.product_item_sizes
								span sizes : 
								ul.sizes_list
									li
										span s
									li
										span m
									li
										span l
									li
										span xl
							.product_item_colors
								a(href="" data-slide-index="0").product_color_pink
								
								a(href="" data-slide-index="1").product_color_indigo
								
								a(href="" data-slide-index="2").product_color_blue
								
								a(href="" data-slide-index="3").product_color_green
								
							.product_item_buttons
								ul.products_buttons_list
									li
										a(href="javascript:void(0);").product_share
									li
										a(href="javascript:void(1);").product_order
									li
										a(href="javascript:void(1);").product_favourite