header    
        .header_top
            .container
                .header_contacts
                    a(href="mailto:info@shopy.com").header_mail  info@shopy.com                                    
                    a(href="tel:996-55-53-453").header_phone 453-5553-996                    
                ul.header_social
                    li
                        a(href="javascript:void(0);").header-social_link
                        .header-social_link--fb
                    li
                        a(href="javascript:void(1);").header-social_link
                        .header-social_link--tw
                    li
                        a(href="javascript:void(2);").header-social_link
                        .header-social_link--google

                    li
                        a(href="javascript:void(3);").header-social_link
                        .header-social_link--instagramm        
        
        .header_bottom.clearfix
            .container
                .header_logo
                    img(src="static/img/general/logo.png")
                a(href="javascript:void(0);").touch_menu Menu
                nav.header_nav
                    ul.header-nav_list
                        li
                            a(href="javascript:void(0);").active Home
                        li
                            a(href="javascript:void(1);") Products
                        li
                            a(href="javascript:void(2);") Hot Deals
                        li
                            a(href="javascript:void(3);") About
                        li
                            a(href="javascript:void(4);") Contact
                a(href="javascript:void(0);").touch_icons Icons          
                .header_action
                    .header_search
                        span.header_search_icon
                        form.header_search_form
                            input(type="text")
                    .header_user
                        span.header_user_icon
                    .header_basket
                        span.header_basket_icon
                        span.header_basket_number 5
                        
                    
                        
                
                