footer
	
	padding 25px 0
	background-color darkColor

	.container
		display flex
		justify-content space-between

	a
		color white
		font-size 16px	

	.footer_politic
		text-decoration underline
		outline none

	.footer_phone
		font-size 20px
		
.pop	
	position relative
	width 95%
	margin 30px auto
	max-width 600px
	background-color white
	padding 30px
	border-radius 30px
	font-family mediumFont
	
	p
		margin-bottom 10px
		
	h4
		display block
		text-align center
		margin-bottom 20px
		font-size 24px
		
		