.top-banner
	display flex
	flex-wrap wrap
	align-content center
	justify-content center
	height 100vh
	min-height 1000px
	padding-bottom 115px
	background url('../img/content/top_banner.jpg') 0 0 no-repeat
	background-size cover

	
	
	