.footer
	background-color white
	padding 85px 0
	.container
		overflow hidden
.footer_logo
	display inline-block
	vertical-align top
	margin-right 180px
	
.footer_logo_img
	display block
	margin-bottom 25px
	
.footer_copyright
	display block
	font-family boldFont
	
.footer_nav
	display inline-block
	vertical-align top
	
.footer_nav_list
	display inline-block
	vertical-align top
	margin-right 80px
	&:last-child
		margin-right 0
	li
		margin-bottom 20px
		list-style-type disc
		&:last-child
			margin-bottom 0
	a
		font-weight bold
		&:hover
			color orangeColor
		
.footer_pay
	float right
	span
		display block
	margin-top 10px	
		
.method_pay
	color orangeColor
	margin-bottom 25px
	font-family boldFont
	font-size 1.143 rem