.open-form
	background-color inviteBg
	padding 45px 85px
	color white
	font-size 32px

	.section_title
		margin-bottom 60px
		&:after
			display none

.invite_form
	width 100%
	max-width 940px
	margin 0 auto
	display flex
	justify-content space-around

	input
		width 30%
		font-size 18px			
