.region

	overflow hidden
	padding 60px 0 0
	background violetBgColor url("../img/general/map.png") center 50px no-repeat
	background-size 80%
	.section_title
		color white
		&:after
			background white
	.container
		min-height 725px
		
		.region_man_pic
			position absolute
			left 0
			bottom -180px
			max-width 450px
			width 100%

	.open_form_wrap
		position absolute
		right 10%
		top 30%
		background white
		height 400px
		margin-bottom 110px

		.open_form_sucess
			text-align center
			position relative			
			padding-top 70px
			color black
			&:before
				margin-bottom 40px

			.form_title
				width 100%

				position absolute
				top 0

	.g-input
		border 2px solid borderRegionInput  						
			

		
				


