.js-index-slider	
	img
		width 100%
		max-width 1700px

.index_slider
	.bx-wrapper
		margin-bottom 0
		.bx-viewport
			left 0
			top 0
			box-shadow none
			background none
			border none
.product_gallery
	.bx-wrapper
		margin-bottom 40px
		.bx-viewport
			left 0
			top 0
			box-shadow none
			background none
			border none
			
.product_item_second
	.bx-wrapper
		margin-bottom 20px
		.bx-viewport
			left 0
			top 0
			box-shadow none
			background none
			border none			
		
.js-index-slider_pager
	position absolute
	z-index 10
	top 50%
	transform translateY(-50%)
	a
		display block
		width 10px
		height 15px
		background-color white
		margin-bottom 10px
		&:last-child
			margin-bottom 0		
		&.active
			height 40px
			background-color orangeColor
			
.index_slider_order
	&:before
		content ""
		display inline-block
		margin-right 10px
		margin-bottom -2px
		sprite($s-header_basket_icon)
	color orangeColor
	font-family boldFont
	cursor pointer
	
.index_slider_price
	font-family boldFont
	margin-right 28px
	
.index_slider_actions
	margin-top 30px
	
.index_slider_info
	position absolute
	z-index 10
	top 35%	
	left 18%
	
span.index-slider_title
	display block
	font-family boldFont
	font-size 3.25rem
	color orangeColor
	margin-bottom 28px
	
.index_slider_goods
	display block
	font-family boldFont
	font-size 1.286 rem
	margin-bottom 18px
	
.index_slider_descr
	display block
	
	font-size 1.143 rem
	color lightBlueColor
	
.index_slider
	padding 0
	
	
	