.section_bottom
	background-color #e5e5e5
	padding 35px 0
	
	
.section_bottom--dark
	background-color #2c3949
	padding: 35px 0
	
	
.section_bottom--blue
	background-color #394b5f
	padding: 35px 0
	
	
.section_bottom--gray
	background-color #d6d6d6
	padding 35px 0 	
	
			
	
	