.logo-holder {
  width: 220px;
  padding: 45px 0; }

.navigation-holder {
  padding-top: 45px;
  padding-bottom: 45px;
  width: 700px; }
  .navigation-holder.show-mobile {
    display: block;
    position: fixed;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: rgba(124, 197, 118, 0.95); }
    .navigation-holder.show-mobile .navigation-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      height: 100%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-transform: uppercase; }
  .navigation-list li {
    margin-right: 35px;
    color: #777777; }
    .navigation-list li a {
      color: inherit;
      font-family: "MontserratRegular", sans-serif;
      font-size: 14px;
      border-bottom: 0px solid #b0e7ab;
      padding-bottom: 7px;
      outline: none; }
      .navigation-list li a:hover {
        color: #7cc576;
        border-bottom: 1px solid #b0e7ab;
        padding-bottom: 3px;
        text-decoration: none; }
      .navigation-list li a:active, .navigation-list li a:focus {
        color: #ecd538;
        border-bottom: 1px solid #ecd538;
        padding-bottom: 3px;
        text-decoration: none; }
    .navigation-list li:last-child {
      margin-right: 0; }

.button-mobile {
  display: none;
  position: absolute;
  top: 17px;
  cursor: pointer;
  position: fixed;
  z-index: 100; }
  .button-mobile.active .menu-line--top {
    top: 50%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 7px; }
  .button-mobile.active .menu-line--middle {
    opacity: 0; }
  .button-mobile.active .menu-line--bottom {
    top: 50%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 7px; }

.burger {
  position: relative;
  width: 45px;
  height: 45px;
  border: 2px solid #555;
  background-color: rgba(87, 146, 82, 0.85); }
  .burger .menu-line {
    position: absolute;
    display: block;
    height: 2px;
    width: 30px;
    background-color: #555;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s; }
    .burger .menu-line--top {
      top: 10px; }
    .burger .menu-line--middle {
      top: 20px; }
    .burger .menu-line--bottom {
      top: 30px; }

header {
  min-height: 530px;
  background: url(../img/header_bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center; }
  header h1 {
    color: #fff;
    text-transform: uppercase;
    font-family: "MontserratBold", sans-serif;
    font-size: 60px;
    line-height: 65px;
    margin-bottom: 30px;
    letter-spacing: -2px; }
  header .subtitle {
    font-family: "RobotoSlabRegular", sans-serif;
    font-size: 20px;
    color: #cccccc;
    margin-bottom: 50px; }

.subtitle {
  color: #777777;
  font-family: "RobotoSlabRegular", sans-serif;
  font-size: 20px; }

.header-content {
  max-width: 620px;
  width: 100%;
  margin: 0 auto; }

.btn {
  background-color: #7cc576;
  display: inline-block;
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 30px;
  border-radius: 60px;
  font-family: "MontserratBold", sans-serif;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 1px 1px #22811a;
  text-align: center; }
  .btn:hover {
    text-decoration: none;
    background-color: #fff;
    color: #7cc576;
    text-shadow: none; }

.container {
  max-width: 940px;
  width: 97%;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.container-padding {
  padding: 90px 0; }

.container-padding-30 {
  padding: 30px 0; }

.container-margin-left {
  margin: 0 0 0 auto;
  width: 97%;
  max-width: 1280px; }

.container-fluid {
  width: 100%;
  padding: 0; }
  .container-fluid.container-fluid--gray {
    background-color: #f9f9f9; }
  .container-fluid.container-fluid--green {
    background-color: #7cc576;
    padding: 70px; }
  .container-fluid.container-fluid--dark {
    background-color: #222222; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.col-1-of-3 {
  width: 33.3%;
  text-align: center; }

.col-1-of-5 {
  width: 20%;
  text-align: center; }
  .col-1-of-5.line {
    height: 2px;
    background-color: #808080;
    padding: auto;
    width: 100%;
    max-width: 170px;
    margin-top: 55px; }
  .col-1-of-5 h3 {
    margin: 20px 0 15px 0; }

p, ul, li, h1, h2, h3, h4, h5, h6, span, html, body {
  margin: 0;
  padding: 0; }

ul li {
  list-style-type: none; }

body {
  font-family: "RobotoSlabRegular", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised;
    -webkit-font-smoothing-width: 100%; }

html, body {
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: "MontserratBold", sans-serif;
  line-height: 1.1; }

a:hover, a:active, a:focus {
  text-decoration: none;
  color: #ecd538; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 18px; }

p {
  color: #777777; }

.btn {
  background-color: #7cc576;
  display: inline-block;
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 30px;
  border-radius: 60px;
  font-family: "MontserratBold", sans-serif;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 1px 1px #22811a;
  text-align: center; }
  .btn.contact {
    border-radius: 7px;
    border: 3px solid #fff;
    margin: 0 auto;
    display: block;
    font-size: 18px;
    padding: 10px 17px;
    max-width: 160px; }
    .btn.contact:hover {
      border: 3px solid #7cc576;
      border: 3px solid #ecd538; }
  .btn:hover {
    text-decoration: none;
    background-color: #fff;
    color: #7cc576;
    text-shadow: none; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container-head {
  margin-bottom: 80px;
  text-align: center; }

.service-box {
  padding-right: 55px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .service-box:last-child {
    padding-right: 0; }
  .service-box .service-icon {
    margin-bottom: 40px; }
    .service-box .service-icon img {
      width: 50px;
      height: 50px; }
  .service-box h3 {
    margin-bottom: 20px; }
  .service-box .service-descr {
    color: #777777;
    width: 100%;
    max-width: 270px;
    text-align: center; }

.just-relax {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.jear-bg {
  width: 30%;
  background-color: #E9E9E9;
  position: relative; }
  .jear-bg:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 250px;
    background: url(../img/jear-icon.svg) no-repeat;
    background-position: left center;
    top: 0;
    right: 0; }

.photo-bg {
  z-index: 10;
  background: url(../img/just-relax-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  width: 70%;
  padding: 100px;
  color: #ccc;
  font-size: 16px; }
  .photo-bg h2 {
    color: #fff;
    margin-bottom: 30px; }
  .photo-bg span {
    color: #7cc576; }
  .photo-bg p {
    margin-bottom: 20px; }
  .photo-bg .check-list {
    margin-bottom: 60px; }
    .photo-bg .check-list li {
      position: relative;
      margin-bottom: 20px;
      padding-left: 50px;
      padding-top: 5px; }
      .photo-bg .check-list li:before {
        content: "";
        display: block;
        position: absolute;
        height: 33px;
        width: 32px;
        background: url(../img/chekc-icon.png) no-repeat;
        background-position: left top;
        top: 0;
        left: 0; }
  .photo-bg .btn {
    max-width: 170px; }

.photo-bg-content {
  width: 100%;
  max-width: 600px; }

h2 {
  color: #222222;
  font-family: "MontserratBold", sans-serif;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -1px;
  margin-bottom: 5px; }

a {
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out; }

.developing-text {
  width: 60%; }

.developing-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.developing-framework {
  width: 55%;
  font-size: 16px; }
  .developing-framework h3 {
    color: #222222;
    margin-bottom: 30px; }
  .developing-framework p {
    color: #777777;
    margin-bottom: 30px; }

.advantages li {
  line-height: 22px;
  margin-left: 88px;
  position: relative;
  margin-bottom: 45px; }
  .advantages li:before {
    top: -32%;
    right: 103%; }
  .advantages li:nth-child(1):before {
    display: block;
    content: "";
    position: absolute;
    width: 72px;
    height: 72px;
    background: url(../img/icon-basket.png) no-repeat; }
  .advantages li:nth-child(2):before {
    display: block;
    content: "";
    position: absolute;
    width: 72px;
    height: 72px;
    background: url(../img/icon-laptop.png) no-repeat; }
  .advantages li:nth-child(3):before {
    display: block;
    content: "";
    position: absolute;
    width: 72px;
    height: 72px;
    background: url(../img/icon-locked.png) no-repeat; }

.advantages h3 {
  text-transform: none;
  margin: 0; }

.image-block {
  width: 50%;
  background: url(../img/phone-bg.png) no-repeat;
  background-size: cover; }

.culture-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .culture-content .culture-item:nth-child(3) .img-wrap:after {
    display: none; }

.culture-item {
  text-align: center; }
  .culture-item .img-wrap {
    text-align: center;
    position: relative; }
    .culture-item .img-wrap:after {
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      max-width: 170px;
      background-color: #808080;
      top: 50%;
      left: 72%; }
  .culture-item img {
    width: 90px;
    height: 90px; }
  .culture-item h3 {
    margin: 20px 0 15px 0; }

.our-clients-content .row {
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .our-clients-content .row:nth-child(1) .text-block:before {
    top: 50%;
    left: -5%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-right: 22px solid #f9f9f9; }
  .our-clients-content .row:nth-child(2) .text-block:before {
    right: -5%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-left: 22px solid #f9f9f9; }

.photo-block {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: url(../img/my.jpg) no-repeat;
  background-size: cover;
  background-position: center 28%; }

.text-block {
  width: 100%;
  max-width: 640px;
  background-color: #f9f9f9;
  position: relative;
  padding: 40px; }
  .text-block p {
    font-size: 22px;
    margin-bottom: 20px; }
    .text-block p.author {
      color: #7cc576;
      text-align: center;
      font-size: 18px; }
  .text-block:before {
    content: '';
    position: absolute;
    border: 10px solid transparent; }

.contact-us {
  width: 100%; }
  .contact-us h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 30px; }

.logos .row {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 60px 0; }
  .footer-top h3 {
    margin-bottom: 20px;
    color: #ececec;
    text-align: left; }
  .footer-top a {
    font-size: 16px;
    color: #ececec; }
    .footer-top a:hover, .footer-top a:active, .footer-top a:focus {
      text-decoration: none; }
  .footer-top li {
    margin-bottom: 20px;
    position: relative; }
    .footer-top li:before {
      position: absolute;
      content: "";
      display: block;
      font-family: "FontAwesome";
      color: #ececec;
      left: -30%;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    .footer-top li span {
      font-size: 12px;
      display: block;
      color: #ececec; }
    .footer-top li strong {
      letter-spacing: 1px;
      display: block; }
  .footer-top .posts {
    width: 100%;
    max-width: 310px;
    margin-left: 150px;
    margin-right: 50px; }
    .footer-top .posts li:nth-child(2):before {
      content: "\f03e";
      font-size: 25px;
      left: -15%; }
    .footer-top .posts li:last-child:before {
      content: "\f04b";
      left: -13%;
      font-size: 25px; }
  .footer-top .tweets {
    width: 100%;
    max-width: 264px;
    margin-left: 75px; }
    .footer-top .tweets li:before {
      content: "\f099";
      font-size: 25px;
      left: -15%;
      top: 15%; }
  .footer-top .contact_us {
    width: 100%;
    max-width: 125px;
    margin-left: 50px; }
    .footer-top .contact_us li:nth-child(1):before {
      content: "\f041";
      font-size: 40px;
      top: 35%; }
    .footer-top .contact_us li:nth-child(2):before {
      content: "\f10b";
      font-size: 45px; }
    .footer-top .contact_us li:nth-child(3):before {
      content: "\f003";
      font-size: 25px;
      left: -31%; }
  .footer-top .footer-top-item:nth-child(1) h3 {
    margin-left: 10px; }
  .footer-top .footer-top-item:nth-child(2) h3 {
    margin-left: 102px; }
  .footer-top .footer-top-item:nth-child(3) h3 {
    margin-left: 32px; }

.footer-bottom {
  padding: 0 40px; }
  .footer-bottom p {
    font-family: "MontserratRegular" ,sans-serif; }
  .footer-bottom .copy-block {
    line-height: 40px; }
  .footer-bottom .social-icons {
    margin-left: 50px; }
    .footer-bottom .social-icons li {
      display: inline-block;
      background-color: #222222;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      text-align: center;
      vertical-align: middle;
      top: 50%;
      margin-right: 10px;
      -webkit-transition: .2s ease-in-out;
      -o-transition: .2s ease-in-out;
      transition: .2s ease-in-out; }
      .footer-bottom .social-icons li:last-child {
        margin-right: 0; }
      .footer-bottom .social-icons li:hover {
        background-color: #454545; }
        .footer-bottom .social-icons li:hover i {
          color: #7cc576;
          -webkit-transition: .2s ease-in-out;
          -o-transition: .2s ease-in-out;
          transition: .2s ease-in-out; }
      .footer-bottom .social-icons li i {
        margin-top: 10px;
        color: #ececec;
        font-size: 20px; }

.hidden {
  display: none; }
