//ШРИФТЫ

mainFont = "OpenSansRegular", Arial, sans-serif
boldFont = "OpenSansBold", Arial, sans-serif
extraBoldFont = "OpenSansExtraBold", Arial, sans-serif
italicBoldFont = "OpenSansBoldItalic", Arial, sans-serif
italicFont = "OpenSansItalic", Arial, sans-serif
semibold = "OpenSansSemibold", Arial, sans-serif
//ЦВЕТА ТЕКСТА

mainFontColor = #34404b
lightBlueColor = #495662
grayColor = #869099


//ЦВЕТА
leftBorderMenu = #e24b07
lightGrayColor = #ecedf0
orangeColor = #ff5912
blueColor = #34404b
mainBgColor = #f4f6f8
lightBorderColor = #eaedef
grayColor = #f5f5f6
borderLightGray= #edeff1
hoverMenuBackground = #e7eaed
